
/* nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
/*common shared styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.text-primary{
    color: rgba(255, 68, 0, 0.907);
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(9, 0, 128);

}
.btn-primary {
    border-radius: 5px;
    background: rgba(255, 68, 0, 0.921);
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* header related styles */
.header{
    background-color: beige;
}
.banner {
    padding: 30px 30px 30px 150px; 
    display: flex;
    align-items: center;
}
.banner .profile-pic {
    width: 500px;
}